/** 
	"Zeus Icon made by Eucalyp  from www.flaticon.com"
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sigmar+One&display=swap');

body {
	margin: 0;
	font-family: 'Sigmar One', cursive, 'Open Sans', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3 {
	margin: 0;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
